.Profile {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
}

.Profile h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.Profile h3 {
  color: #666;
  font-size: 22px;
  margin-bottom: 10px;
}

.Profile ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.Profile .game-list {
  display: flex;
  flex-wrap: wrap;
}

.Profile .game-card {
  flex-basis: 25%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.Profile .game-card:hover {
  transform: translateY(-5px);
}

.Profile .game-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.Profile .game-name {
  font-weight: bold;
}

.Profile p {
  color: #666;
}

.Profile .badge {
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: bold;
}
